.Dark-primary{
    background-color: #0f0f0f;
    color: white;
}

.Dark-secondary{
    background-color: #222020;
    color: white
}

.Dark-tertiary{
    background-color: #383f53;
    color: white
}