.Menu-Background
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 499;

    animation-name: menu-background-fade-in;
    animation-duration: 250ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.Menu-Popout
{
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 300px;
    width: 30vw;
    height: 100vh;
    z-index: 500;

    animation-name: menu-fade-in;
    animation-duration: 250ms;
    animation-timing-function: ease-out;
}

.Menu-Fade-Out
{
    animation-name: menu-fade-out;
    animation-duration: 250ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    z-index: 500;
}

@keyframes menu-fade-in
{
    from {opacity: 0.5; left: -300px; }
    to {opacity: 1; left: 0px}
}

@keyframes menu-background-fade-in
{
    from {opacity: 0; }
    to {opacity: 0.2; }
}

@keyframes menu-fade-out
{
    from {opacity: 1; left: 0px; }
    to {opacity: 0; left: -300px; }
}


.Menu-List
{
    display: flex;
    flex-direction: column;
}

.Menu-Header
{
    height: 30px;
    font-size: 24px;
    text-align: left;
    width: auto;
    margin: 15px 5px 10px 15px;
}

.Menu-List-Item
{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 24px;
    font-size: 16px;
    margin: 5px 5px 0px 5px;
    cursor: pointer;
    padding: 0px 0px 0px 10px;
    border-radius: 5px;

    transition: background-color 200ms ease-in;
}

.Menu-List-Item-Selected
{
    background-color: rgb(94, 94, 94);
    color: aquamarine;
}

.Menu-List-Item:hover
{
    background-color: rgb(94, 94, 94);
}
